<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/main.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Crime News Analysis</title>
</head>
<body>
    
    <div align="center" class="nav">
        <div class="nav-in">
                <span>Crime News Analysis</span>
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-right" id="nav">
                    <li><a href="http://127.0.0.1:5000/index">Home</a></li>
                    <li><a href="http://127.0.0.1:5000/search">Search</a></li>
                    <li><a href="https://github.com/"><i class="fa fa-github"style="font-size:15px"></i> GitHub</a></li>
                    </ul>
                </div>   
        </div>
    </div>
    <br>
    <div class="center">
    <table class="table">
            <thead>
            <tr>
                <td class="topic"><b>Advanced search</td>
                <td class="topic"></td>
                <td class="topic"></td>
                <td class="topic"></td>
            </tr>  
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>      
            </thead><br>
            
            <tbody>
            <tr>
                <td>วัน/เวลาเกิดเหตุ : <input type="text" class="input"></td>
                <td></td>
                <td></td>
                <td>การกระทำ : <input type="text" class="input"></td>
            </tr>
            <tr>
                <td>ผู้ต้องหา : <input type="text" class="input"></td>
                <td></td>
                <td></td>
                <td>สิ่งที่ใช้ลงมือ (อาวุธ) : <input type="text" class="input"></td>
            </tr>
            <tr>
                <td>ผู้เสียหาย : <input type="text" class="input"></td>
                <td></td>
                <td></td>
                <td>เจ้าหน้าที่ : <input type="text" class="input"></td>
            </tr>
            <tr>
                <td>สถานที่เกิดเหตุ : <input type="text" placeholder="ชื่อห้าง,ชื่อร้าน,ชื่อที่อยู่ ฯลฯ" class="input"></td>
            </tr>
            <td>
                <div class="button">Search</div>
            </td>
            </tbody>
        </table> 
        </div>
</body>
</html>